<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Edit Stories</h3>
    <form name="edit" method="GET" action="/select">
      <form name="search" method="GET" action="/select">
        <input type="submit" value="Headline" name="headline" />
      </form>
      <form name="search" method="GET" action="/select">
        <input type="submit" value="Content" name="content" />
      </form>
      <form name="search" method="GET" action="/select">
        <input type="submit" value="Delete" name="delete" />
      </form>
      <form action="http://localhost:3003" method="GET">
        <input type="submit" value="Home" />
      </form>
  </body>
</html>
