<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if(user.userName != "guest"){ %>
    <h1>Logged in as <%- user.userName %>, <%- user.role %></h1>
    <% } else {%>
    <h1>Error Logging in</h1>
    <form action="http://localhost:3003/login" method="GET">
      <label for="login">Try Again</label>
      <input id="login" type="submit" value="Login" />
    </form>
    <% }%>
    <form action="http://localhost:3003" method="GET">
      <input type="submit" value="Home" />
    </form>
  </body>
</html>
